@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark: hsl(179, 100%, 13%);
    --white: hsla(0, 0%, 100%, 0.75);
    /* para */
    --gray: hsl(0, 0%, 95%);
    /* bg, headings, btns */
}

body {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif; 
    color: var(--white);
    background-color: var(--gray);
    /* #################################### */
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    display: flex;
    margin: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    padding: 2.8rem;
}

section:nth-child(1) {
    background: var(--orange);
}
section:nth-child(2) {
    background: var(--cyan);
}
section:nth-child(3) {
    background: var(--dark);
}

img {
    width: 50px;
    margin-bottom: 2.3rem;
}

h2
    {
        font-family: 'Big Shoulders Display', cursive;
        color: var(--gray);
        font-size: 1.7rem;
        text-transform: uppercase;
}

p {
    font-size: 0.7rem;
    line-height: 1.4rem;
    padding: 2rem 0 2rem 0;
}

.footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    border: solid 2px var(--white);
    background-color: var(--gray);
    cursor: pointer;
}
#btn-1 {
    color: var(--orange);
}
#btn-2 {
    color: var(--cyan);
}
#btn-3 {
    color: var(--dark);
}
button:hover, #btn-1:hover, #btn-2:hover, #btn-3:hover   {
    color: var(--white);
    border-color: var(--white);
    background-color:rgba(0,0,0,0);
}

@media (min-width: 900px) {
    main {
        flex-direction: row;
        max-width: 800px;
        height: 400px;
    }
    section:nth-child(1) {
        border-radius: 10px 0 0 10px;
    }
    section:nth-child(3) {
        border-radius: 0 10px 10px 0;
    }
}
@media (max-width: 900px) {
    main {
        flex-direction: column;
        max-width: 300px;
    }
    section:nth-child(1) {
        border-radius: 10px 10px 0 0;
    }
    section:nth-child(3) {
        border-radius: 0 0 10px 10px;
    }
}

/* font-family: 'Lexend Deca', sans-serif; */
/* font-family: 'Big Shoulders Display', cursive; */